@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

header{
    display: flex;
    justify-content: space-between;
    background: rgb(19, 18, 18);
    width: vw;
    height: 75px;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 1;
}

body {
    margin: 0;
    background: rgb(212, 210, 206);  
    background-image:image('bg');
    background-position-x: center;
}

footer{
    display: grid;
    background: rgb(19, 18, 18);
    width: vw;
    height: 20rem;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

footer #gow{
    padding-left: 1rem;
}

footer p{
    color: whitesmoke;
    margin: 0 1.5rem;
    padding: 0 2rem;
    width: 20rem;
    text-align: center;
    justify-content: center;
}

footer #name-gow{
    margin-left: 0;
}

.contact{
    display: flex;
    text-align: center;
    justify-content: center;
}


.contact img {
    background-color:white;
    width: 3rem;
    margin: 0 1%;
    border-left: 1rem solid white;
    border-right: 1rem solid white;
    border-radius: 10%;
    transition: transform .2s;
}

.contact img:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.rune{
    display: flex;
    align-items: start;
    justify-content: end;
}

.bg{
    position: absolute;
    opacity: 12%;
    width: 50%;
    z-index: -1;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInLeft {
    0% {transform: translateX(-100%)}
    100%{transform: translateX(0)}
}

.logo{
    display: flex;
    transition: trasnform .2s; 
    
}

#topo.logo:hover{
    cursor: pointer;
}

#gow{
    height: 4rem;
    top: 0;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 0;
       
}

#name-gow{
    height: 3.5rem;
    margin: 1rem;
    padding-top: 0.4rem;
}

#navi{
    inset-inline-start: 0;
}

#navi ul{
    color: whitesmoke;
    display: flex;
    margin-inline: 0;
    justify-content: end;
}

#navi ul li{
    margin-inline: .25rem;
    margin-block: 0;
    line-height: 1.5rem;
    list-style: none;
    padding: 5px;
    margin: 0 1rem;
    transition: transform .2s;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid rgb(19, 18, 18);
}

#navi ul li:hover{
    cursor: pointer;
    transform: scale(1.2); 
    border-bottom: 1px solid whitesmoke;   
}

#inicio{
    animation: fadeIn 5s;
    display: flex;
    margin-top: 1rem;
    justify-content:space-between; 
    z-index: 1;   
}

#inicio img {
    margin: 0 3rem;  
}

.titulo{
    font-family: 'Raleway', sans-serif;
    padding: 0 3rem;
    margin: 2rem 0;
}

.text {
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    padding-top: 2rem;
    padding: 0 3rem;
}

#gelo {
    margin: 1rem 1rem;
    width: 40%;
    height: 15%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.posts{
    animation: slideInLeft 5s;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "post1 post2 post3"
    "post4 post5";                    
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 3rem;  
       
}

.posts p {
    font-family: 'Cormorant Garamond', serif;
    margin: 0 1.5rem;
    padding: 0 5%; 
    text-align: center;
}

.posts div{
   justify-content: center;
   border-left: 1.5px solid rgb(19, 18, 18); 
   transition: transform .2s;
   padding: 0 1rem;
   margin: 1rem 0;
}

.posts div:hover{
    transform: scale(1.15);
    cursor: pointer;
    border-left: 2px solid rgb(19, 18, 18); 
}

.posts p{
    margin: 0 1.5rem;
    padding: 0 5%;
    width: 15rem;
    text-align: center;
}


.posts img{
    margin: 1rem 1rem;
    margin-top: 0;
    width: 300px;
    box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.6);
}

.linha{
    margin-top: 1rem;
    height: 1px;
    width: 95%;
    opacity: 65%;
       
}

@media screen and (max-width: 1120px) {
    .posts{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:  
        "post1 post2"
        "post3 post4"
        "post5";
    }
}

@media screen and (min-width: 1200px) {
    
}
