@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

#topo {
    display: flex;
    justify-content: space-between;
    background: rgb(19, 18, 18);
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    align-items: center;
}

body {
    margin: 0;
    background: rgb(212, 210, 206);
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInLeft {
    0% {transform: translateX(-100%)}
    100%{transform: translateX(0)}
}

#gow{
    height: 55px;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    margin: 10px;
    margin-left: 25px;
    
}

#navi{
    inset-inline-start: 0;
}

#navi ul{
    color: whitesmoke;
    display: flex;
    margin-inline: 0;
    justify-content: end;
}

#navi ul li{
    margin-inline: .25rem;
    margin-block: 0;
    line-height: 1.5rem;
    list-style: none;
    padding: 5px;
    margin: 0 1rem;
    transition: transform .2s;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid rgb(19, 18, 18);
}

#navi ul li:hover{
    cursor: pointer;
    transform: scale(1.2); 
    border-bottom: 1px solid whitesmoke;   
}

#inicio{
    animation: fadeIn 3s;
    display: flex;
    margin-top: 1rem;
    justify-content:space-between; 
      
}

#inicio img {
    margin: 0 3rem;  
}

.titulo{
    font-family: 'Raleway', sans-serif;
    padding: 0 3rem;
    margin: 2rem 0;
}

.text {
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    padding-top: 2rem;
    padding: 0 3rem;
}

#montain {
    margin: 1rem 1rem;
    width: 600px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.posts{
    animation: slideInLeft 3.5s;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 2.5rem;  
       
}

.posts p {
    font-family: 'Cormorant Garamond', serif;
    margin: 0 1.5rem;
    padding: 0 5%; 
    text-align: center;
}

.posts div{
   justify-content: center;
   border-left: 1.5px solid rgb(19, 18, 18); 
   transition: transform .2s;
   padding: 0 1rem;
}

.posts div:hover{
    transform: scale(1.15);
    cursor: pointer;
    border-left: 2px solid rgb(19, 18, 18); 
}

.posts p{
    margin: 0 1.5rem;
    padding: 0 5%;
    width: 15rem;
    text-align: center;
}


.posts img{
    margin: 1rem 1rem;
    margin-top: 0;
    width: 300px;
    box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.6);
}

.linha{
    margin-top: 1rem;
    height: 1px;
    width: 95%;
    opacity: 65%;
       
}

