@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInLeft {
    0% {transform: translateX(-100%)}
    100%{transform: translateX(0)}
}

@keyframes slideInDown {
    0% {transform: translateY(100%)}
    100%{transform: translateY(0)}
}

header{
    display: flex;
    justify-content: space-between;
    background: rgb(19, 18, 18);
    width: 100%;
    height: 5%;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 1;
}

body {
    margin: 0;
    background: rgb(218, 216, 213); 
}

footer{
    display: flex;
    flex-direction: column;
    background: rgb(19, 18, 18);
    width: 100%;
    height: 20rem;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

footer p{
    color: whitesmoke;
    margin: 0 1.5rem;
    padding: 0 2rem;
    width: 15rem;
    text-align: center;
    justify-content: center;
}

footer #name-gow{
    margin-left: 0;
    padding-right: 1rem;
}

.contact{
    margin: 0.5rem ;
    display: flex;
    text-align: center;
    justify-content: center;
}


.contact img {
    background-color:white;
    width: 3rem;
    margin: 0 0.3rem;
    border-left: 1rem solid white;
    border-right: 1rem solid white;
    border-radius: 10%;
    transition: transform .2s;
}

.contact img:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.rune{
    display: flex;
    align-items: start;
    justify-content: end;
    animation: fadeIn 2s;
}

.bg{
    position: absolute;
    opacity: 15%;
    width: 40%;
    z-index: -1;
}



.logo{
    top: 0;
    display: flex;
    transition: trasnform .2s; 
    
}

#topo.logo:hover{
    cursor: pointer;
}

#gow{
    height: 4rem;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 0;
       
}

#name-gow{
    height: 3.5rem;
    margin: 1rem;
    padding-top: 0.4rem;
}

.burger{
    position: absolute;
    top: 1.3rem;
    right: 0.5rem;
    display: none;
}

#navi{
    inset-inline-start: 0;
}

.nav-menu{
    color: whitesmoke;
    display: flex;
    margin-inline: 0;
    justify-content: end;
    padding-left: 0;
}

.burger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

#navi ul li{
    margin-inline: .25rem;
    background-color: rgb(19, 18, 18);
    margin-block: 0;
    list-style: none;
    padding: 5px;
    margin: 0 1rem;
    transition: transform .2s;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid rgb(19, 18, 18);
}

.nav-link{
    color: whitesmoke;
    text-decoration: none;
}

#navi ul li:hover{
    cursor: pointer;
    transform: scale(1.2); 
    border-bottom: 1px solid whitesmoke;   
}

#inicio{
    animation: fadeIn 5s;
    display: flex;
    margin-top: 1rem;
    justify-content:space-between; 
    z-index: 1;   
}

#inicio img {
    margin: 0 3%; 
    align-self: center; 
}

.titulo{
    font-family: 'Raleway', sans-serif;
    padding: 0 3rem;
    margin: 2rem 0;
    
}

.text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 100%;
    padding-top: 2rem;
    padding: 0 3rem;
}

#gelo {
    margin: 1rem 1rem;
    width: 40%;
    height: 15%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.posts{
    
    animation: slideInLeft 5s;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);                      
    justify-content: space-between;
    padding: 2rem 3rem;      
}

.post-link{
    text-decoration: none;
    color: black
}

.post-box{
    display: flex;
    flex-direction: column;
}

.posts p {
    font-family: 'Cormorant Garamond', serif;
    margin: 0 1.5rem;
    padding: 0 5%; 
    text-align: center;
}

.posts div{
    align-items: center;
    border-left: 2px solid transparent; 
    margin: 1rem 0;
    transition: transform .2s;
}

.posts div:hover{
    transform: scale(1.15);
    cursor: pointer;
    border-left: 2px solid rgb(19, 18, 18); 
}

.posts p{
    margin: 0 1.5rem;
    padding: 0 5%;
    width: 15rem;
    text-align: center;
}


.posts img{
    margin-bottom: 1rem;
    width: 65%;
    box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.6);
}

.linha{
    margin-top: 1rem;
    height: 1px;
    width: 95%;
       
}

.post-content{
    animation: slideInDown 3s;
    margin: 0 2rem;
}

.author{
    display: flex;
    margin: 2rem 1rem;
}

#mimir{
    height: 3rem;
    align-self: center;
    justify-self: center;
}

.info-author{
    display: flex;
    flex-direction: column;
    margin: 0 1rem; 
    align-items: center; 
    justify-content: center; 
}

.info-author p{
    margin: 0.25rem 0;
}

.name-author{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#date{
    padding: 0;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media img{
    margin: 5%;
    transition: transform .2s;
}

.social-media img:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.post-text{
    width: 100%;
}

.list-itens{
    list-style: georgian;
}

ul li{
    margin: 0 1.5rem;
}

ul li p.text{
    padding: 0 1rem;
}

#thanks{
    font-size: medium;
}

.share-post{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.share-post div{
    height: 2rem;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid transparent;
    transition: transform .2s;
}

.share-post div:hover{
    cursor: pointer;
    border-bottom: 1px solid rgb(19, 18, 18);
    transform: scale(1.2);
}

.social-media p{
    padding: 0;
    justify-self: center;
    align-self: center;
}

.some-comments .author{
    padding: 1%;
    border: 1px solid rgb(175, 171, 166);
}

#person{
    height: 3rem;
    align-self: center;
    justify-self: center;
}

#comment{
    margin-left: 2rem;
    font-style: italic;
}

.comment-area{
    background-color: rgb(218, 216, 213);
    animation: slideInLeft 4s;
    width: 50%;
    border: 1px solid rgb(218, 216, 213);
    margin: 2rem 20%;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(19, 18, 18);
}

.comment-area h1{
    text-align: left;
    padding: 0;
    color: rgb(19, 18, 18);
}

.comment-title{
    display: flex;
    align-items: center;
}

.comment-title img{
    margin: 0 1rem;
    height: 2rem;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #777;
}

.comment-form button{
    margin: 1% 0;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    border-radius: 5px;
    color: #777;
}

button:hover{
    color: whitesmoke;
    background-color: rgb(19, 18, 18);
}

@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
        align-items: flex-start;
    }

    footer{
        height: 10rem;
    }

    footer p{
        width: 12rem;
    }

    footer .logo{
        height: 2rem;
    }

    footer #gow{
        padding-left: 0;
    }

    .burger{
        display: block;
    }

    #navi{
        width: 100%;

    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .burger.active .bar:nth-child(1){
     transform: translateY(8px) rotate(45deg);
     }

    .burger.active .bar:nth-child(3){
         transform: translateY(-8px) rotate(-45deg);
     }

    .nav-menu{
        display: none;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
     }

    .nav-menu.active{
        display: flex;
    }

    #navi ul li{
        text-align: center;
    }

    #navi ul li:hover{
        cursor: pointer;
        transform: none;
        border-bottom: 1px solid whitesmoke;   
    }

    .contact img {
        background-color:white;
        width: 1.5rem;
        margin: 0 1%;
        border-left: 0.5rem solid white;
        border-right: 0.5rem solid white;
        border-radius: 10%;
    }
    .logo{
        align-items: center;
        justify-content: center;
    }

    #gow{
        height: 2.5rem;
        margin-left: 0.7rem;
    }

    #name-gow{
        height: 2rem;
        margin: 0.5rem;
    }


    #inicio{
        flex-direction: column;
    }

    #inicio{
        align-items:  center;
    }

    #first{
        width: 90%;
        align-items: start;
    }

    .titulo{
        font-size: large;
        margin: 10px 0;
        padding:0 1rem;
    }

    .text{
        font-size: small;
        padding: 0 1rem;
    }

    #gelo{
        width: 70%;
        margin: 1rem;
    }

    .bg{
        width: 100%;
    }

    .rune{
        align-items: center;
    }

    .posts{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 1rem;
        padding: 0;
        animation: slideInLeft 2s
    }

    .posts p {
        margin: 0 1%;
        width: 65%;
    }

}
