@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInLeft {
    0% {transform: translateX(-100%)}
    100%{transform: translateX(0)}
}

@keyframes slideInDown {
    0% {transform: translateY(100%)}
    100%{transform: translateY(0)}
}

header{
    display: flex;
    justify-content: space-between;
    background: rgb(19, 18, 18);
    width: 100%;
    height: 5%;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 1;
}

body {
    margin: 0;
    background: rgb(218, 216, 213); 
}

footer{
    display: flex;
    flex-direction: column;
    background: rgb(19, 18, 18);
    width: 100%;
    height: 20rem;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

footer p{
    color: whitesmoke;
    margin: 0 1.5rem;
    padding: 0 2rem;
    width: 15rem;
    text-align: center;
    justify-content: center;
}

footer #name-gow{
    margin-left: 0;
    padding-right: 1rem;
}

.contact{
    margin: 0.5rem ;
    display: flex;
    text-align: center;
    justify-content: center;
}


.contact img {
    background-color:white;
    width: 3rem;
    margin: 0 1%;
    border-left: 1rem solid white;
    border-right: 1rem solid white;
    border-radius: 10%;
    transition: transform .2s;
}

.contact img:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.rune{
    display: flex;
    align-items: start;
    justify-content: end;
    animation: fadeIn 2s;
}

.bg{
    position: absolute;
    opacity: 12%;
    width: 60%;
    z-index: -1;
}



.logo{
    top: 0;
    display: flex;
    transition: trasnform .2s; 
    
}

#topo.logo:hover{
    cursor: pointer;
}

#gow{
    height: 4rem;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 0;
       
}

#name-gow{
    height: 3.5rem;
    margin: 1rem;
    padding-top: 0.4rem;
}

#burguer{
    display: none;
}

#navi{
    inset-inline-start: 0;
}

#navi ul{
    color: whitesmoke;
    display: flex;
    margin-inline: 0;
    justify-content: end;
    padding-left: 0;
}

#navi ul li{
    margin-inline: .25rem;
    margin-block: 0;
    line-height: 1.5rem;
    list-style: none;
    padding: 5px;
    margin: 0 1rem;
    transition: transform .2s;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid rgb(19, 18, 18);
}

.nav-link{
    color: whitesmoke;
    text-decoration: none;
}

#navi ul li:hover{
    cursor: pointer;
    transform: scale(1.2); 
    border-bottom: 1px solid whitesmoke;   
}

#inicio{
    animation: fadeIn 5s;
    display: flex;
    margin-top: 1rem;
    justify-content:space-between; 
    z-index: 1;   
}

#inicio img {
    margin: 0 3%; 
    align-self: center; 
}

.titulo{
    font-family: 'Raleway', sans-serif;
    padding: 0 3rem;
    margin: 2rem 0;
    
}

.text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 100%;
    padding-top: 2rem;
    padding: 0 3rem;
}

#gelo {
    margin: 1rem 1rem;
    width: 40%;
    height: 15%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.posts{
    
    animation: slideInLeft 5s;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);                      
    justify-content: space-between;
    padding: 2rem 3rem;      
}

.post-link{
    text-decoration: none;
    color: black
}

.post-box{
    display: flex;
    flex-direction: column;
}

.posts p {
    font-family: 'Cormorant Garamond', serif;
    margin: 0 1.5rem;
    padding: 0 5%; 
    text-align: center;
}

.posts div{
    align-items: center;
    border-left: 2px solid transparent; 
    margin: 1rem 0;
    transition: transform .2s;
}

.posts div:hover{
    transform: scale(1.15);
    cursor: pointer;
    border-left: 2px solid rgb(19, 18, 18); 
}

.posts p{
    margin: 0 1.5rem;
    padding: 0 5%;
    width: 15rem;
    text-align: center;
}


.posts img{
    margin-bottom: 1rem;
    width: 65%;
    box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.6);
}

.linha{
    margin-top: 1rem;
    height: 1px;
    width: 95%;
       
}

.post-content{
    animation: slideInDown 3s;
    margin: 0 2rem;
}

.author{
    display: flex;
    margin: 2rem 1rem;
}

#mimir{
    height: 3rem;
}

.info-author{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;   
}

.info-author p{
    margin: 0.25rem 0;
}

.name-author{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#date{
    padding: 0;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media img{
    margin: 5%;
    transition: transform .2s;
}

.social-media img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.post-text{
    width: 100%;
}

.list-itens{
    list-style: georgian;
}

ul li{
    margin: 0 1.5rem;
}

ul li p.text{
    padding: 0 1rem;
}

#thanks{
    font-size: medium;
}


@media screen and (max-width: 768px) {
    header{
        height: 3rem;
    }

    footer{
        height: 10rem;
    }

    footer p{
        width: 12rem;
    }

    footer .logo{
        height: 2rem;
    }

    footer #gow{
        padding-left: 0;
    }

    #burguer{
        display: block;
        height: 2rem;
        margin-right: 0.5rem;
    }

    #navi{
        display: none;
    }

    .contact img {
        background-color:white;
        width: 1.5rem;
        margin: 0 1%;
        border-left: 0.5rem solid white;
        border-right: 0.5rem solid white;
        border-radius: 10%;
    }
    .logo{
        align-items: center;
        justify-content: center;
    }

    #gow{
        height: 2.5rem;
        margin-left: 0.7rem;
    }

    #name-gow{
        height: 2rem;
        margin: 0.5rem;
    }


    #inicio{
        flex-direction: column;
    }

    #inicio{
        align-items:  center;
    }

    #first{
        width: 90%;
        align-items: start;
    }

    .titulo{
        font-size: large;
        margin: 10px 0;
        padding:0 1rem;
    }

    .text{
        font-size: small;
        padding: 0 1rem;
    }

    #gelo{
        width: 70%;
        margin: 1rem;
    }

    .bg{
        width: 100%;
    }

    .rune{
        align-items: center;
    }

    .posts{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 1rem;
        padding: 0;
        animation: slideInLeft 2s
    }

    .posts p {
        margin: 0 1%;
        width: 65%;
    }

}